<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>
        <%= headerName %>
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/main.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">
                            <%= headerName %>
                        </h4>
                        <p class="text-muted">Add some information about the album below, the author, or any other
                            background context. Make it a few sentences long so folks can pick up some informative
                            tidbits. Then, link them off to some social networking sites or contact information.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Follow on Twitter</a></li>
                            <li><a href="#" class="text-white">Like on Facebook</a></li>
                            <li><a href="#" class="text-white">Email me</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <img src="/img/logo-snkrs.png" width="50" height="35" class="me-2">

                    <!--<strong>Album</strong>-->
                </a>

                <div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <button type="button" class="btn btn-primary position-relative" onclick="location.href = '/cart'">
                        <img src="/img/shopping-cart.png" width="25" height="25" class="me-2">
                        <span id="spAlertCartCountItems" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger " style="display: none;">
                            
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <script>
            $( document ).ready(function() {
                
                fntUpdateCartCountHeader();
                
            });

            function fntUpdateCartCountHeader(){
                let objCart = JSON.parse(localStorage.getItem('cart-items'));
                
                if( objCart != null && objCart.length > 0 ){
                    $('#spAlertCartCountItems').html(objCart.length);
                    $('#spAlertCartCountItems').show();
                }
                else{
                    localStorage.setItem('cart-items', JSON.stringify([]));
                }
            }
        </script>
    </header>