<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta property="og:image" content="/img/invitation.jpeg">
  <meta property="og:title" content="Boda Civil S&Y">
  <title>
    Boda Civil S&Y
  </title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/main.css">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap" rel="stylesheet">
</head>

<body style="background-color: #202020; font-family: 'Quicksand', sans-serif;">
  <main>

    <section class="py-5 py-lg-3  text-center container">
      <div class="row py-lg-0">
        
          <h3 class="" style="color: #b79649;">Boda Civil <br> Stephanie & Yordi</h3>

          <img src="/img/invitation-min.jpeg" class="me-2" style="width: 100%; height: auto;">
        </div>
      </div>
    </section>

    </button>

  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

</body>

</html>